body a {
    text-decoration: none;
    color: #D8D8D8;
}

body a:hover {
    color: #fff;
}

body {
    margin: 0px auto;
}
header {
    height: 100px;
    background-color: #2E2E2E;
}
.main_container {
    background-color: #424242;
    color: #F2F2F2;
}
.navigation_menu {
    border: 1px solid #fff
}
header img {
    float: left;
    height: 100px;
    border-radius: 999px;
}
.forma{
    float: left;
}
.bootstrapp {
    float: right;
}

footer {
    background-color: #2E2E2E;
    height: 50px;
}

.container-md {
    background-color: #2E2E2E;
    color:#F2F2F2 ;
}

.ads img {
    width: 50%;
}

h2 {
    color: #fff;
}

footer li {
    list-style-type: none;
    float: left;
}

footer b {
    float: right;
    color : #fff;
}

table.FirstTable {
    max-width: 40%;
}

td {
    width: 50%;
    text-align: center;
}

th {
    background: #120A2A;
}

th,
td {
    border: 1px solid #fff;
}

tr.table1 {
    font-weight: normal;
    color: #D8D8D8;
}

tr.table2 {
    color: #F2F2F2;
    background: #120A2A;
}
img.adaptive{
    height: 100%;
    width: 100%;
}
.popup__overlay {
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .7);
  text-align: center
}

.order-form {
    background: rgb(255, 255, 255);
    border-radius: 14px;
    box-shadow: 1px 0px 5px rgb(125, 125, 125);
    box-sizing: border-box;
    height: 360px;
    width: 430px;
    padding: 20px;
    margin: 100px auto;
    position: relative;;
}

.close{
    display: block;
    position: absolute;
    right: 20px;
    cursor: pointer;
    height: 20px;
    width: 20px;
}

.hidden {
    display: none;
}
